@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
@media screen and (max-width:960px){
	#spectl{
		position: relative;
		left: 50%;
	}
	
}
@media screen and (max-width:640px){
	#spectl{
		left: 0%;
	}
}
